<div class="margin-top-main animated fadeIn">
    <h1>Sobre ComicApp</h1>
    <hr>
    <p> Et proident fugiat nulla et laboris consectetur cillum esse officia proident ad. Cupidatat eu quis fugiat excepteur aute ea reprehenderit laborum. Culpa reprehenderit anim labore in ad incididunt ad tempor esse cillum officia anim culpa. Fugiat veniam duis ipsum ut. Anim ut commodo pariatur tempor ipsum sit. Minim enim esse enim veniam sint consequat magna anim deserunt occaecat dolore id enim adipisicing. Aute aliqua qui veniam laborum excepteur commodo magna consequat ullamco do consequat cupidatat dolore exercitation. </p>
</div>